
 /*navigation bar  */
.gethorizontal{
    width: 500px;
    height: auto;
    margin: 5%;
}
.push_get {
    margin-bottom: 8% !important;
    margin-top: 8%;
}
p{
    font-weight: 300;
}
.info{
    padding-right: 0px;
    padding-left: 0px;
}
.product {
    color: #B9B7B7;
    margin-left: 10%;
    margin-top: -5%;
    padding: 10px;
    text-align: left;
}
.getvertical {
    height: 500px;
    margin: 40px;
    margin-left: 15%;
}
.getstreamer{
    text-align: right;
    justify-content: right;
    margin-right: 7%;
}
.getcommunity{
    margin-left: 7%;
}
.extendright{
    padding-right: 10%;
}
.extendleft{
    padding-left: 10%;
}

.right{
    text-align: right;
}
.line{
    margin-right: auto;
    margin-left: auto;
}
.verticalalign{
    margin-top: auto;
    margin-bottom: auto;
}
.moving{
    position:relative;
}
    .mobilefoot {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        visibility: hidden;
        position: absolute;
    }
.lefty{
    text-align: left;
}
.hidden{
    visibility: hidden;
    margin-top: -10%
}
.navbar-light .navbar-toggler, button .navbar-light .navbar-toggler .collapsed:focus, [type="button"]:focus {
    outline: none;
    border-color: white;
}
.navbar-light .toggle-button {
    height: 1.5em;
    width: 1.5em;
}

.headicon {
    height: auto;
    width: 175px;
    margin: 22%;
    margin-bottom: 20px;
}
.thanks{
    margin-left:0%;
    text-align:center !important;
}
.space{
    margin-bottom:2%;
}
.footicon {
    height: auto;
    width: 175px;
    margin-left: -12%;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0;
    margin: 10px;
    border: 3px solid transparent;
    border-radius: 3.5px;
}

    .navbar-light .navbar-nav .nav-link:hover {
        padding-bottom: 1px;
        padding-left: 0px;
        padding-right: 0;
        border-bottom: 3px solid black;
        border-radius: 3.5px;
        color: black;
    }

.active, .active:hover {
    font-size: 22.5px;
    padding-bottom: 1px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 3px;
    border-bottom: 3px solid red !important;
    color: red !important;
}

a {
    color: black;
}

.thankslink {
    text-decoration: underline;
}

a:hover {
    color: red;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 22.5px;
    align-items: center;
}
.col-lg{
    text-align: center;
    line-height: 125%;
}

.row .col-lg-6 .centered #getstartedfan, #getstartedbottom {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin: 0;
    margin-top: 6%;
    margin-left:-1%;
    line-height: 50.5px;
    margin-right: 60%;
    height: 55px;
    padding: 0px;
    border-radius: 10px;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.03em;
    font-size: 17.5px;
    border-color: rgba(255, 0, 0, 0.5);
    margin-bottom: 15%;
}
#getstartedbottom{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom:0%;
}
.row .col-lg-6 .centered #getstartedfan:hover, #getstartedbottom:hover {
    background-color: red;
}
.typeform-share {
    margin-top: 8%;
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    line-height: 55px;
    margin: 0;
    margin-top: 3%;
    margin-left: -1%;
    margin-right: 60%;
    height: 55px;
    padding: 0px;
    border-radius: 10px;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.03em;
    font-size: 17.5px;
    margin-bottom: 10%;
}

.typeform-share:hover, .typeform-share:focus {
    color: white;
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.9);
}

.ready{
    margin-left: 7%;
}
.leftover{
    margin-left:19%;
}

.icon {
    height: 70px;
    width: auto;
    margin-bottom:45px;
}


nav .navbar .navbar-expand-sm .navbar-light .spread{
    padding-top: 50px;
}

.homeimage {
    width: 80%;
    height: auto;
    margin: 20% 10%;
    margin-top: 15%;
    margin-right: 8%;
    z-index: 1;
}
.streamer{
    margin-top: 10%;
}
.inputgroup{
    display: flex; 
    flex-wrap: nowrap;
}
.developer{
    margin-top: 5%;
}

.left {
    margin-left: -.5%;
}

#creatorimage {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    padding-right:8%;
    margin-top:-1%;
}


.navbar .navbar-expand-sm .navbar-light {
    padding: 5%
}
.bold{
    font-weight: bold;
}
.tint {
    padding-top:2%;
    background-color: rgba(144, 144, 144, 0.06);
}

.thankscreator {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    margin-bottom:1%;
}
.about {
    margin: 5%;
}
.team {
    color: red;
    margin-bottom: 20%;
}
.thanksfan {
    padding-top: 8%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 1%;
}

table, .center{
    text-align:center;
}
.closer {
    font-size: 16px;
    background-color:white;
    border-color:white;
    border-style: none;
    margin: 5px;

}
div .modal-footer{
    padding:0px !important;
    border-radius: 5px;
}
.tab {
    width: 50px;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
}
.bottomtab {
    width: 25px;
    height: auto;
    margin-right:.5%;
}
.social{
    text-align:center;
    margin-top:3%;
}
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.left{
    text-align:left;
}
.centered{
    margin: 20% 10%;
    margin-left: 8%;
    width:95%

}

html {
    font-family: "SF Pro Display";
    font-size: 25px;
    text-align: center;
}
html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    line-height: 1;
}
.emailenter {
    width: 60%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(255, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    align-items:center;
    padding-right: 50px;
}

.emailsubmit {
    width: 23%;
    height: 100%;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    margin-left: -50px;
}
.emailsubmit:focus {
    outline: none;
}
.emailenter:focus {
    outline: none;
    margin-right: 0;
}
.expanded{
    margin-bottom: 2%;
}
/*header styling*/
h1 {
    font-weight: 700;
    font-size: 50px;
    z-index:2;
    text-align: center;
}
.get{
    font-size: 40px;
}
h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: .5%;
    font-weight: 400;
    display:inline;
}
h3 {
    font-weight: 200;
    font-size: 22.5px !important;
    margin-bottom:.5%;
    line-height: 110%;
    display:block;
}

h5 {
font-weight: 300;
font-size: 18px;
text-align: center;
width: 75%;
margin-left: 12%;
}

h6 {
    font-size: 16px;
    align-items: center;
}


/*steps*/

.stepsgreet {
    padding-top: 55px;
    padding-bottom: 78px;
}
.steps {
    padding-bottom: 13%;
    padding-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
}
.why{
    box-sizing: border-box;
    margin: 2%;
    padding: 2%;
}
.pink{
    border: 0.5px solid #FFCDF1;
    box-shadow: 6px 6px 0px #FFCDF1;
}
.green{
    border: 0.5px solid #ACFFCD;
    box-shadow: 6px 6px 0px #ACFFCD;
}
.blue{
    border: 0.5px solid #B5D2FF;
    box-shadow: 6px 6px 0px #B5D2FF;
}
.purple{
    border: 0.5px solid #C9ACFF;
    box-shadow: 6px 6px 0px #C9ACFF;
}
.shrunken {
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    margin-right: 200%;
    margin-top: -300%;
}
.discover{
    padding-top: 4%;
    text-align: center;
    padding-bottom: 3%;
    margin-right: auto;
    margin-left:auto;
}
.startsign{
    display:block;
    text-align: center;
    height: 35%;
}

.foot {
    padding-top: 39px;
    padding-bottom: 72px;
    padding-left: 60px;
    width: 100%;
    background-color: rgba(144, 144, 144, .1);
}
.block{
    width: 100%;
    height: auto;
}
.underline{
    border-bottom: solid !important;
}

hr {
    border-width: 1px; 
    border-color: black; 
    width: 30%; 
    float: left; 
    margin:auto;
    display:block;
}
.push{
    margin-bottom: 5%;
}

@media (max-width: 1175px){

    .getstreamer {
        text-align: right;
        justify-content: right;
        margin-right: auto;
    }

    .getcommunity {
        margin-left: auto;
    }

    .extendright {
        padding-right: 0%;
    }

    .extendleft {
        padding-left: 0%;
    }
}

@media (max-width: 996px) {
    
    .homeimage {
        margin-top: 10%;
    }
    .welcome {
        margin-left: 10%;
        margin-right:10%;
    }
    #getstartedbottom {
        width:60%;
    }
    .lefty{
        margin-top:-10%;
    }
        #fanimage {
        width: 60%;
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 2%;
    }
    .row .col-lg-6 .centered #getstartedfan{
        width: 100%;
    }

    .centered {
        margin-left: auto;
        margin-right: auto;
        padding-left:0%;
        padding-top:0%;
        width: 65%;
    }


    #creatorimage {
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }

    .typeform-share {
        width: 100%;
    }
}

@media (max-width: 766px) {
    .col-md .getvertical {
        width: 250px;
        height:auto;
        margin-right: auto;
        margin-left: auto;
    }
    .product{
        margin-left:0%;
        margin-top: 0%;
        text-align: center;
    }
    .col-md{
        text-align: center;
    }
    .col-md .gethorizontal {
        width: 300px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .get {
        font-size: 40px;
        text-decoration: underline;
    }

    .shrunken {
        visibility: visible !important;
        white-space: normal;
        margin-right: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
        position: relative;
    }

    .expanded {
        white-space: nowrap;
        overflow: hidden;
        visibility: hidden;
        position: absolute;
        margin-right: 200%;
        margin-top: -300%;
    }
    .lefty {
        text-align: center;
        margin-top: 5%;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("hamburger_menu.png") !important;
        height: auto;
    }
    .thanksfan {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
    }
    .welcome {
       margin-left:8%;
       margin-right:8%;
        font-size: 35px;
        margin-bottom: 0%;
        margin-top: 5%;
    }
    .space{
        margin-bottom:0%;
        display:inline;
    }
    .spacing{
        margin-bottom:0%;
        margin-top:0%;
    }
    h2 {
        font-weight: 200;
        font-size: 22.5px;
        text-align: center;
        width: 90%;
        margin-left: 0%;
        margin-right: 0%;
        margin:0% !important;
        display: inline !important;
    }

    .centered {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0%;
        padding-top: 0%;
        margin-top:-2%;
        width: 75%;
        text-align:center;
    }
    .row .col-lg-6 .centered #getstartedfan, .typeform-share {
        padding: 0%;
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        display:block;
    }

    .headicon {
        margin: 8%;
    }

    .left {
        margin-left: 0%;
        text-align: center;
    }

    .tint .navbar-light .navbar-nav .nav-link {
        position: absolute;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        margin: -4%;
        visibility: hidden;
    }

        .tint .navbar-light .navbar-nav .nav-link:hover {
            position:absolute;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            margin-top: -4%;
            visibility: hidden;
        }

    .headicon, .footicon {
        width: 120px;
        height: auto;
    }

    .footicon {
        margin-left: -22%;
    }

    .mobilefoot {
        visibility: visible;
        width: 100%;
        text-indent: 0%;
        margin-bottom:2%;

        position:static;
    }
    .mobilelink {
        font-size: 22.5px;
    }
    hr {
        visibility:hidden;
    }
 
}
@media (max-width: 960px) {
    .gethorizontal {
        width: 350px;
    }

    .getvertical {
        height: 350px;
    }
}